@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Fraunces', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    height: 100%;
}

/* container styles */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

/* product preview card styles */

.img-preview {
    width: 100%;
    height: 45%;
    background: url(./images/image-product-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    
}

/* product preview styles */
.product-preview {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 65%;
    background-color: hsl(0, 0%, 100%);
}

.product-preview h3 {
    margin-left: 12px;
    margin-top: 10px;
    letter-spacing: 0.70em;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    top: 3%;
    color: hsl(228, 12%, 48%);
}

.product-preview h1 {
    position: relative;
    top: -1%;
    margin-left: 12px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}

.product-preview .description {
    position: relative;
    top: -4%;
    margin-left: 12px;
    font-size: 14px;
    width: 80%;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.product-preview .prices {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    width: 100%;
}

.discounted-price {
    width: 42%;
    margin-left: 12px;
    font-size: 27px;
    text-align: start;
    font-family: 'Fraunces', sans-serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.original-price {
    font-size: 13px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    
}

.add-item-button {
    position: relative;
    top: -2%;
    width: 85%;
    height: 50px;
    margin: 0 auto;
    border-radius: 7px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 14px;
    outline: none;
    border: none;
    transition: transform 0.5s ease;
}

.add-item-button:hover {
    transform: scale(1.1);
}

svg {
    margin-right: 3px;
    position: relative;
    top: 14%;
}


/* attribution styles */
.attribution {
    height: 35px;
    margin-top: 3%;
    font-size: 0.6em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* BREAKPOINTS */
@media (min-width: 500px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 95%;
        height: 70svh;
        transform: translate(-50%, -50%);
        flex-direction: row;
    }

    .img-preview {
        height: 100%;
        background: url(./images/image-product-desktop.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .product-preview {
        height: 100%;
    }

    .product-preview h1 {
        width: 85%;
    }

    .discounted-price {
        width: 50%;
    }

    .attribution {
        position: relative;
        top: 88%;
        font-size: 1.2em;
    }
}
@media (min-width: 675px) {
    .container {
        height: 80svh;
    }

    .product-preview {
        height: 100%;
    }

    .product-preview h1 {
        width: 75%;
    }

    .discounted-price {
        width: 40%;
    }

    .attribution {
        position: relative;
        top: 88%;
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    .discounted-price {
        width: 40%;
    }
}